.linewrap
 - 10.times do
  .line

%input.manual{:type => "checkbox"}/
%input.kickflip{:type => "checkbox"}/
%input.hardflip{:type => "checkbox"}/
%input.ollie{:type => "checkbox"}/
%input.threesix{:type => "checkbox"}/
%input.shovit{:type => "checkbox"}/
%h1 Click Me
.outer
 .wrap
  .board
   .nose
   .tail
   .trucks
    .inner
    .wheel
   .trucks.rear
    .inner
    .wheel